/* колір первинного текст  #757575; */
/* колір вторинного тексту  #212121; */
/* колір акценту  #2196F3; */
/* первинний фоновий колір  #FFFFFF; */
/* колір логотипу  #000000; */
/* футер текст контактів  rgba(255, 255, 255, 0.6); */
/* футер background  #2F303A; */
/* section-time background   #f5f4fa; */
/* білий колір тексту  #FFFFFF*/

/* Стилі - головна сторінка */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --footer-hero-bg-color: #2f303a;
  --footer-contacts-text: rgba(255, 255, 255, 0.6);
  --white-color-text: #ffffff;
}
body {
  background: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.logo {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.white-color-logo {
  color: #ffffff;
}
.accent {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav a:hover,
.auth-nav a:focus,
.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.carrent {
  color: var(--accent-color);
}

/* Main */

.hero {
  background: var(--footer-hero-bg-color);
}
.hero .title {
  color: var(--white-color-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.feature-liste .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-liste .text {
  font-size: 14px;
  line-height: 1.71px;
}
.occupation .title,
.section-team .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.section-team {
  background: #f5f4fa;
}
.team-liste .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}
.team-liste .text {
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */

.footer-bg {
  background: var(--footer-hero-bg-color);
}
.site-add .link {
  color: var(--white-color-text);
  font-size: 14px;
  line-height: 1.14;
}
.site-add .mail,
.site-add .tel {
  color: var(--footer-contacts-text);
  font-size: 14px;
  line-height: 1.14;
}
.site-add .link:hover {
  color: var(--accent-color);
}
.address {
  font-style: normal;
}

/* button-hero */

.button-hero {
  font-family: Roboto, sans-serif;
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color-text);
  cursor: pointer;
}
/* button-portfolio */

.button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  color: var(--primary-text-color);
  cursor: pointer;
  letter-spacing: 0.03em;

  /* width: 128px;
  height: 38px;
  left: 576px;
  top: 174px; */
}
.button:hover,
.button:focus {
  color: var(--white-color-text);
  background: var(--accent-color);
}

/* Стилі - портфоліо */

.projects .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects .text {
  font-size: 16px;
  line-height: 1.88;
}
